$prima: #3f51b5;
$lg: 4rem;

.container {    
  margin-top: 30px;
}

table {
    width: 100%; 
    margin-top: 50px;
}

h1 {
  font-family: "Fontdiner Swanky";
  font-size: $lg;
  color: $prima;
  text-align: center;
}

