$prima: #3f51b5;
$rasp: #f36a6f;
$seed: #383838;
$sm: 1rem;
$md: 2.5rem;
$lg: 4rem;
h2 {
  font-family: "Fontdiner Swanky";
  font-size: $lg;
  color: $prima;
  text-align: center;
}
.image-bg {
  background-image: url("../../../../../assets/images/press-start.png");
  height: calc(100vh - 64px);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0.5rem;
}
.div-form {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
}
.form-create {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-crear {
  width: 100%;
}
.mt-5 {
  margin-top: 1rem;
}

.center {
  text-align: center;
}
